body {
  margin: 0px;
  padding: 0px;
}

.post-container {
  background-color: #fffafa;
  width: 70%;
  height: 100%;
  margin: 0px auto 0px auto;
}

h1 {
  font-family: Montserrat;
}

.date {
  font-family: Roboto;
  color: #008080;
  margin: 0;
}

.post-content {
  font-family: Open Sans;
  padding-bottom: 20px;
}
